<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1100;">
  <% flash.to_hash.each do |type, msg| %>
    <% Array(msg).each do |message| %>
      <% next if message.blank? %>
      <div class="toast align-items-center <%= bootstrap_toast_class(type) %>" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
        <div class="d-flex">
          <div class="toast-body"><%= message %></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
